#blinkText {
  transition: all 0.5s;
}

#soat {
  font-size: 26px;
  text-align: center;
  color: red;
  /* margin: 0 auto; */
  border: 2px solid red;
  border-width: 5px;
  width: 350px;
  padding: 20px;
}
